<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <div class="links-prof">
            
            <ul>
              <li><a href="https://www.linkedin.com/in/mcknztech/" class = "button">LinkedIn</a> </li>
              <li><a href="https://www.kaggle.com/mcknztech" class = "button">Kaggle</a></li>
              <li><a href="https://github.com/memckenzie2" class = "button">GitHub</a></li>
            </ul>
          </div>
        
        <a href="https://github.com/memckenzie2/"><span id="logo"></span></a>

      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <h1 id="header-1">Summary of Experiences</h1>
        <p>McKenzie is a digital inclusion advocate, adult educator, and applied mathematician located in Indiana. Her work focuses on bridging the digital divide and teaching job-ready skills through community-based action and data-informed programming. She is available for workshops on <emphasis>Data and the Digital Divide</emphasis>, <emphasis>Planning Digital Literacy Training to Transform Your Community</emphasis>, and a variety of Digital Literacy skills from Keyboard and Mouse to Microsoft Office to Intro to Coding. </p>
        <h1 id="header-2">Presentations</h1>
        <p><ul>
              <li><a href="https://www.youtube.com/live/-TDp8WRMmXA?feature=share&t=2382">Digital Inclusion Roadmap Presentation, Indianapolis Public Library Board Meeting, August 2022</a>
              <p><img src="memckenzie2.github.io/assets/DI Roadmap.png/" alt="Preview of a slide from Digital Inclusion Roadmap with Six Objectives" /></p></li>
              <li><a href="https://continuinged.isl.in.gov/developing-tech-intuition-1-leu/">Developing Tech Intuition - with Alexander Hampton, September 2021, The Difference is You Conference</a> </li>
            </ul></p>
         <h1 id="header-3">Publications and Projects</h1>
        <p><ul>
              <li><a href="https://blog.indypl.org/research-learn/coding-skills/">Coding Skills Blog for Indianapolis Public Library</a> </li> 
              <li><a href="https://indypl-map-project.glitch.me/">Exploring the Digital Divide Index and 1937 HOLC Maps for Indianapolis Neighborhoods, Glitch Web Project with Leaflet.js Map</a> </li> 
              <li><a href="https://www.math.ucla.edu/~mason/research/MMckDiss2012.pdf">Thesis: Stability-optimization algorithms for the detection of community structure in networks, Keble College, University of Oxford, September 2012</a> </li> 
              <li><a href="https://www.researchgate.net/publication/254021124_Predicting_drug_efficacy_based_on_the_integrated_breast_cancer_pathway_model">Predicting drug efficacy based on the integrated breast cancer pathway model, Huang, Hui; Wu, Xiaogang; Ibrahim, Sara; Mckenzie, Marianne in Genomic Signal Processing and Statistics (GENSIPS); December 2011, </a> </li>
              
            </ul></p>
        <h1 id="header-4">Media Coverage of Projects</h1>
        <p><ul>
              <li><a href="https://www.eastersealscrossroads.org/accessibility-stations-at-the-indianapolis-public-library-locations/">Accessibility Stations at The Indianapolis Public Library Locations, EasterSeals Crossroads, May 2023</a> </li>
              <li><a href="https://indiana.comcast.com/2023/02/22/laptops-provide-second-chances-and-new-career-paths-for-hoosiers/">Laptops Provide Second Chances and New Career Paths for Hoosiers, Comcast, February 2023</a> </li>
              <li><a href="https://www.indypl.org/news-and-announcements/the-indianapolis-public-library-is-bridging-the-digital-divide">Press Release: The Indianapolis Public Library is Bridging the Digital Divide - October 2022</a> </li>
              <li><a href="https://www.wfyi.org/news/articles/indianapolis-libraries-lead-the-way-across-the-digital-divide">Indianapolis libraries lead the way across the digital divide, WFYI, November 2022</a> </li>
              <li><a href="https://techpoint.org/2020-mira-awards-nominees/">Nominees selected for 21st annual TechPoint Mira Awards Honoring ‘The Best of Tech in Indiana , February 2020</a></li>
              <li><a href="https://www.freecodecamp.org/news/how-we-created-a-free-coding-school-with-the-freecodecamp-curriculum/">We Created a Local Free Coding School Using the freeCodeCamp Curriculum. Here's What We Learned, FreeCodeCamp, June 2020</a> </li>
               <li><a href="https://www.wrtv.com/news/hiring-hoosiers/free-coding-course-offered-at-indianapolis-public-library">Free coding course offered at Indianapolis Public Library, WRTV, January 2020</a> </li>
              <li><a href="https://science.iupui.edu/about/science-stories/stories/2017-05-09-mckenzie-marianne.html">Alumna still driven by the beauty of mathematics, Science Stories, IUPUI, 2017</a> </li>
        
            </ul></p>
      </section>
      <footer>
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>
  </body>
</html>
